.anchor {
  color: white !important;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

.anchor span:not(.spacer) {
  display: block;
  padding: 0.5rem;
}

.spacer {
  display: none;
  padding: 0 15px;
}

.sep {
  display: inline;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
